@{
    Layout = null;
}
<head>
    <style>
        .centered-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }

        #Display, #signsuccess {
            display: none;
        }

            #Display.visible, #signsuccess.visible {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
            }
    </style>
</head>
<div class="centered-container">
    <div id="Display">
        <h1 id="Name" style="text-align:center">授权</h1>
        <div id="image"></div>
        <br />
        <div style="text-align:center">
            二维码有效期:
            <span id="countdown">180</span>
        </div>
    </div>
    <div id="signsuccess">
        <span id="info"></span>
    </div>

</div>


<script src="~/js/qrcode.min.js"></script>
<script src="~/layui-v2.5.6/layui/layui.all.js"></script>
<script src="~/layui-v2.5.6/layui/layui.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/xtqmsign.js"></script>
<script src="~/js/ywxsign.js"></script>
<script>

    //id: 1003     openid=589e9f6684a482baq1704w7eb7y7a018239
    var configparams = location.href.substring(location.href.indexOf('?') + 1, location.href.length);
    var ids = configparams.split("&");

    var map = new Map();
    for (var i = 0; i < ids.length; i++) {
        var keyValue = ids[i].split('=');
        if (keyValue.length == 2) {
            var key = decodeURIComponent(keyValue[0]);
            var value = decodeURIComponent(keyValue[1]);
            map.set(key, value);
        }
    }
    
    //#region 全局变量

    // 签名id
    var id = map.get("id");
    //签名类型
    var signatureType = map.get("signaturetype");
    //标题(协同签名使用)
    var title = map.get("title");
    // 用户开放标识
    var openId = map.get("openid");
    //签名参数,签名类型,身份证号,
    var params, type, ca_user_id;
  
    //返回数据,
    var backDataString = {}; 

    var time1,time2,backtimer,timer;

    //请求id,一般签名没有登录的情况下使用
    var requestId;
    //#endregion


    $(function () {
        $.ajax({
            type: "POST",
            url: "/Home/GetJson",
            dataType: "json",
            async: false,
            data: { id: id, SignatureType: signatureType },
            success: function (d) {
                console.log(111111);
                console.log(d);
                if (signatureType == 1) YWXStart(d);
                else if (signatureType == 2) XTQMStart(d);

                
            },
        });
    })

    
    function DataBack() {
        console.log(backDataString);
        $.ajax({
            type: "POST",
            url: "/Home/BackData",
            dataType: "json",
            async: false,
            data: { datainfo: JSON.stringify(backDataString), SignatureType: signatureType },
            success: function (data) {
                console.log(data);
                $("#signsuccess").show();
                $('#info').text("签名已成功");

                return;
            },
        });
    }




</script>